[project]
name = "grid-based"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "maturin>=1.10.2",
    "pre-commit>=4.5.0",
    "ruff>=0.14.7",
    "tbump>=6.11.0",
]
